:root {
    --purple: #854dff;
    --off-white: #f0f0f0;
    --light-grey: #dbdbdb;
    --smokey-grey: #716f6f;
    --off-black: #141414;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--off-white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background: white;
    padding: 40px;
    border-radius: 20px 20px 150px 20px;
    width: 100%;
    max-width: 600px;
}

.input-group {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.field {
    display: flex;
    flex-direction: column;
    width: 120px;
}

.field label {
    font-size: 12px;
    letter-spacing: 3px;
    color: var(--smokey-grey);
    margin-bottom: 5px;
    font-weight: bold;
}

.field input {
    font-size: 24px;
    font-weight: 800;
    padding: 12px;
    border: 1px solid var(--light-grey);
    border-radius: 8px;
    outline: none;
}

.divider {
    position: relative;
    border-top: 1px solid var(--light-grey);
    margin: 40px 0;
}

#btn-calculate {
    background-color: var(--purple);
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
    top: -35px;
    cursor: pointer;
    transition: 0.3s;
}

#btn-calculate:hover {
    background-color: var(--off-black);
}

.result h1 {
    font-size: 70px;
    font-style: italic;
    font-weight: 800;
    margin: 0;
    line-height: 1.1;
}

.result span {
    color: var(--purple);
}